---
import ComponentDocumentation from "../../layouts/ComponentDocumentation.astro";
import UsageExample from "../../components/UsageExample.astro";
import { trimTextPadding } from "../../utils/trim-text-padding";
---

<ComponentDocumentation
  name="Modal"
  description="A floating window that covers the page to prompt the user to perform or confirm an action."
>
  <UsageExample
    name="Defaults"
    isJavaScriptRequired={true}
    description={trimTextPadding(`
      You can create a modal by creating a [\`dialog\`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog)
      element with the class \`modal\`.

      Inside your Modal, you can add a **header**, **body**, and **footer**.
      
      The **header** should have the class \`modal-header\` and contain a title and,
      optionally, a close button (a \`button\` with the classes \`button\` and
      \`dismiss\`).
      
      The **body** should have the class \`modal-body\` and contain the main
      content of the Modal.

      The **footer** should have the class \`modal-footer\` and contain any action
      buttons or other controls that should appear at the bottom.
    `)}
    code={`
      <button class="button" x-on:click="$refs.modal1.showModal()">Open Modal</button>

      <dialog x-ref="modal1" class="modal" aria-labelledby="modal1-title">
        <header class="modal-header">
          <h1 id="modal1-title">Leave Without Saving?</h1>
          <button class="button dismiss" x-on:click="$refs.modal1.close()" aria-label="Close"></button>
        </header>
        <div class="modal-body">
          <p>You have unsaved edits. What would you like to do?</p>
        </div>
        <div class="modal-footer">
          <button class="button primary red" x-on:click="$refs.modal1.close()">Discard Changes</button>
          <button class="button" x-on:click="$refs.modal1.close()">Keep Editing</button>
        </div>
      </dialog>
    `}
  />
  <UsageExample
    name="Sizes"
    isJavaScriptRequired={true}
    description={trimTextPadding(`
      You can control the width of a Modal by adding one of the following
      additional classes to the \`dialog\` element:
      
      - \`auto\` (default)
      - \`small\`
      - \`medium\`
      - \`large\`

      If the size is \`auto\`, the Modal will be as large as necessary to fit
      its content without extending past the edge of the screen.

      Below is an example of a Modal with the class \`small\`.
    `)}
    code={`
      <button class="button" x-on:click="$refs.modal2.showModal()">Open Modal</button>

      <dialog x-ref="modal2" class="modal small" aria-labelledby="modal2-title">
        <header class="modal-header">
          <h1 id="modal2-title">Leave Without Saving?</h1>
          <button class="button dismiss" x-on:click="$refs.modal2.close()" aria-label="Close"></button>
        </header>
        <div class="modal-body">
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis ultricies lacus sed turpis tincidunt id. Rhoncus mattis rhoncus urna neque viverra justo nec.
          </p>
          <p class="paragraph">
            Pretium nibh ipsum consequat nisl vel pretium lectus quam. Ac placerat vestibulum lectus mauris ultrices. Elementum sagittis vitae et leo duis ut diam. Odio facilisis mauris sit amet massa. Cras semper auctor neque vitae tempus quam. Cursus metus aliquam eleifend mi in. Fermentum iaculis eu non diam. Diam quam nulla porttitor massa id neque aliquam
          </p>
        </div>
        <div class="modal-footer">
          <button class="button primary" x-on:click="$refs.modal2.close()">Save</button>
          <button class="button" x-on:click="$refs.modal2.close()">Cancel</button>
        </div>
      </dialog>
    `}
  />
  <UsageExample
    name="Overflow"
    isJavaScriptRequired={true}
    description="If the content in the Modal's body is too tall, the Modal will allow you to scroll the additional content into view."
    code={`
      <button class="button" x-on:click="$refs.modal3.showModal()">Open Modal</button>

      <dialog x-ref="modal3" class="modal small" aria-labelledby="modal3-title">
        <header class="modal-header">
          <h1 id="modal3-title">Leave Without Saving?</h1>
          <button class="button dismiss" x-on:click="$refs.modal3.close()" aria-label="Close"></button>
        </header>
        <div class="modal-body">
          <p style="
            height: 100lvh;
            background-color: var(--color-brand-8);
            padding: var(--space-m);
            border-radius: var(--radius-m);
            box-shadow: var(--shadow-m);
          ">
            This is a huge box. Scroll to see the rest of it.
          </p>
        </div>
        <div class="modal-footer">
          <button class="button primary" x-on:click="$refs.modal3.close()">Save</button>
          <button class="button" x-on:click="$refs.modal3.close()">Cancel</button>
        </div>
      </dialog>
    `}
  />
  <UsageExample
    name="Playground"
    allowShowCode={false}
    isJavaScriptRequired={true}
    code={`
      <div
        class="stack vertical dense"
        x-data="{ size: 'medium', paragraphCount: 1, closeButton: true, header: true, body: true, footer: true }"
      >
        <label class="field">
          Size
          <select x-model="size">
            <option value="">Unset (auto)</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
        </label>
        <label class="field">
          Number of Paragraphs
          <input
            type="number"
            step="1"
            min="0"
            max="8"
            x-model="paragraphCount"
          />
          <div class="error-message">
            Number of paragraphs must be an integer between 0 and 8.
          </div>
        </label>
        <label class="switch">
          Include Close Button
          <input type="checkbox" x-model="closeButton" />
        </label>
        <label class="switch">
          Include Header
          <input type="checkbox" x-model="header" />
        </label>
        <label class="switch">
          Include Body
          <input type="checkbox" x-model="body" />
        </label>
        <label class="switch">
          Include Footer
          <input type="checkbox" x-model="footer" />
        </label>
        <hr class="divider" />
        <button class="button primary" x-on:click="$refs.modal4.showModal()">
          Open Modal
        </button>
        <dialog x-ref="modal4" x-bind:class="'modal ' + size" aria-labelledby="modal4-title">
          <header x-show="header" class="modal-header">
            <h1 id="modal4-title">User Settings</h1>
            <button
              class="button dismiss"
              aria-label="Close"
              x-show="closeButton"
              x-on:click="$refs.modal4.close()"></button>
          </header>
          <div x-show="body" class="modal-body">
            <p class="paragraph" x-show="paragraphCount >= 1">
              Qui dolore ut nihil unde. Eum sint veniam ut assumenda delectus.
              Autem autem quas dignissimos.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 2">
              Deleniti consequatur quas commodi ea veritatis. Sunt ut aut sunt ut
              repellat fuga nulla. Mollitia rerum quas nobis. Rem explicabo sint
              qui dolor et ab quibusdam cum.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 3">
              Quia commodi dolor qui non tempora. Est temporibus dolorem similique
              quisquam. Enim deleniti suscipit quibusdam nihil iste. Facilis qui
              ut non.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 4">
              Enim est asperiores facilis quia. Dignissimos repellendus est et
              saepe aut iusto velit aut. Dignissimos cum ullam enim iste soluta
              aliquid accusamus. Ducimus placeat perferendis qui officiis
              praesentium. Qui aliquam laborum nam. Laborum et perspiciatis ut
              rerum non voluptatum.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 5">
              Ratione officia nobis aliquam saepe error est laudantium. Voluptas
              incidunt reiciendis veniam exercitationem facere. Officiis ex sit
              sed illo beatae veniam.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 6">
              Consequatur eum quo ullam perspiciatis voluptatem. Non ut ad vel qui
              vero. Numquam quisquam neque earum non maxime ea quidem ut. Nihil
              voluptatibus quas alias est quas vel. Possimus modi sit vero nemo
              ipsam. Excepturi nihil asperiores aut voluptatem sint adipisci
              possimus numquam.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 7">
              Aliquam quia ullam porro numquam similique quia. Est impedit facilis
              magnam minima natus eos. Provident nam dolores inventore deleniti
              eos maiores voluptas. Id similique rerum exercitationem id.
            </p>
            <p class="paragraph" x-show="paragraphCount >= 8">
              Autem consectetur distinctio odit dolorum veniam officia voluptas
              ut. Sed doloribus neque et nihil optio ad vel quod. Molestiae quia
              veniam a. Voluptate velit quisquam a enim sit. Ratione aut occaecati
              expedita velit minima autem modi. Exercitationem suscipit aut
              dolorum doloribus minima ut et omnis.
            </p>
          </div>
          <div x-show="footer" class="modal-footer">
            <button class="button primary" x-on:click="$refs.modal4.close()">
              Save
            </button>
            <button class="button" x-on:click="$refs.modal4.close()">
              Cancel
            </button>
          </div>
        </dialog>
      </div>
    `}
  />
</ComponentDocumentation>
