---
import { marked } from "marked";
import GithubSlugger from "github-slugger";
import { formatCode } from "../utils/format-code";
import CodeBlock from "./CodeBlock.astro";

interface Props {
  name: string;
  description?: string;
  code: string;
  outputWrapperClass?: string;
  outputWrapperId?: string;
  allowShowCode?: boolean;
  isJavaScriptRequired?: boolean;
}

const {
  name,
  description = "",
  code,
  outputWrapperClass = "vertical stack",
  outputWrapperId,
  allowShowCode = true,
  isJavaScriptRequired = false,
} = Astro.props;

const slugger = new GithubSlugger();
const descriptionHtml = marked.parse(description);
const formattedCode = await formatCode(code);
const random = Math.random().toString(36).substring(2);
const codeId = `example-code-${random}`;
const slug = slugger.slug(name);
---

<div class="card">
  <h2 class="card-title" id={slug}>{name}</h2>
  <div class="stack vertical dense">
    {
      description && (
        <div class="style-semantic-elements" set:html={descriptionHtml} />
      )
    }
    <div
      class:list={[
        "example-wrapper",
        { "example-with-js": isJavaScriptRequired },
      ]}
    >
      {
        isJavaScriptRequired && (
          <noscript class="alert error">
            <div class="alert-content">
              This example requires JavaScript to run. Please enable JavaScript
              in your browser to view this example.
            </div>
          </noscript>
        )
      }
      <div
        id={outputWrapperId}
        x-data="{}"
        class:list={[
          "example-output",
          { "if-js-enabled": isJavaScriptRequired },
          outputWrapperClass,
        ]}
        set:html={formattedCode}
      />
      {
        allowShowCode && (
          <>
            <div
              id={codeId}
              class:list={[
                "example-code",
                { "if-js-enabled": isJavaScriptRequired },
              ]}
            >
              <CodeBlock
                variant="inline"
                language="html"
                code={formattedCode}
              />
            </div>
            <div
              class:list={[
                "example-code-toggle-toolbar",
                { "if-js-enabled": isJavaScriptRequired },
              ]}
            >
              <label class="switch small show-example-code">
                Show Code
                <input type="checkbox" />
              </label>
            </div>
          </>
        )
      }
    </div>
  </div>
</div>
<style>
  .example-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    border: var(--border-s) solid var(--color-border);
    border-radius: var(--radius-s);
  }

  .example-output {
    padding: var(--space-s);
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .example-code {
    display: none;
    overflow-y: hidden;
    max-height: 0;
    transition:
      max-height 250ms ease,
      display 250ms allow-discrete;
  }

  @media (prefers-reduced-motion) {
    .example-code {
      transition: none;
    }
  }

  .example-code:has(~ .example-code-toggle-toolbar input:checked) {
    display: block;
    overflow-y: auto;
    max-height: 100svh;
  }

  .example-code-toggle-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--border-s) solid var(--color-border);
    padding: var(--space-2xs);
  }

  .show-example-code {
    width: auto;
    margin-inline-start: auto;
  }

  body.js-disabled .example-with-js {
    border: 0;
  }

  .card-title {
    scroll-margin: var(--space-l);
  }
</style>
